<div class="d-flex">
    <div class="bg-dark p-3" style="width: 200px; height: 100vh;">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white" href="/admin/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/admin/categories">Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/admin/products">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/admin/users">User</a>
            </li>
        </ul>
    </div>
    <div class="p-3 flex-grow-1">
        <%- body %>
    </div>
</div>
